<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
      <p>
        <%= @recipe.errors.count %>
        Prevented this recipe froms saving
      </p>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

  <div class="field">
    <h3>Ingredients</h3>
      <%= f.fields_for :recipe_ingredients, @recipe_ingredient do |ri| %>
        <%= ri.label :quantity %>
        <%= ri.number_field :quantity %>
        <%= ri.label :unit %>
        <%= ri.text_field :unit %>

    
      <% end %>
  </div>

  <div class="field">
      <h3>Directions</h3>
        <%= f.fields_for :directions, @direction do |direction| %>
          <%= direction.label :step %>
          <%= direction.text_field :step%>
        <% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
