
<div class="form-group col-md-3">
      <%= ri.fields_for :ingredient, ingredient do |i| %>
        <%= i.label :name %>
        <%= i.text_field :name, class: 'form-control' %><br>
  </div>
      <% end %>
      <%= f.add_nested_fields_link :recipe_ingredients, 'Add Recipe Ingredients' %>
    <% end %>

    <div class="form-group col-md-3">
          <%= ri.fields_for :ingredient, new_ingredient do |i| %>
            <%= i.label :name %>
            <%= i.text_field :name, class: 'form-control' %><br>
      </div>
          <% end %>
          <%= f.add_nested_fields_link :recipe_ingredients, 'Add Recipe Ingredients' %>
        <% end %>
