<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h4>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

  <h4>Ingredients:</h4>
    <div class="form-group">
      <%= f.fields_for :recipe_ingredients do |ri| %>
    <div class="form-group col-md-2">
        <%= ri.label :quantity %>
        <%= ri.number_field :quantity, class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
        <%= ri.label :unit %>
        <%= ri.text_field :unit, class: 'form-control' %>
  </div>
  <div class="form-group col-md-3">
        <%= ri.fields_for :ingredient, @ingredient do |i| %>
          <%= i.label :name %>
          <%= i.text_field :name, class: 'form-control' %>
    </div>
        <% end %>
      <% end %>
<br>
<br>
<div class="form-group" >
    <h4>Directions:</h4>
      <%= f.nested_fields_for :directions, @direction do |direction| %>
        <%= direction.label :step %>
        <%= direction.text_field :step, class: 'form-control'%>
      <% end %>
      <%= f.add_nested_fields_link :directions, 'Add Step' %>
  </div>
<br>

  </div>
  <div class="actions">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
  <% end %>
