<br>
  <h2><%= @recipe.title %></h2>
    <% if @recipe.user.username? %>
      Created By: <%= link_to @recipe.user.username, user_recipes_path(@recipe.user), id: "email" %><br>
    <% end %>
<br>
  <h4>Description:</h4><%= @recipe.description %>
<br>
<br>

  <%= image_tag(@recipe.image, style: 'width:200px', class: "css-style") if @recipe.image.attached? %>

<br>
  <strong>Directions:</strong>
    <% @recipe.directions.each do |direction| %><br>
      <%= direction.step %>
    <% end %>
<br>
<br>
  <strong>Ingredients:</strong>
  <ul>
  <% @recipe.ingredients.each do |ri| %>
    <li><%= ri.quantity %> <%= ri.unit %> - <%= ri.name %> </li>
  <% end %>
  </ul>
