<h3 id="name"><%= @recipe.title %></h3>


<strong>Directions:</strong>
  <ul>
    <% @recipe.directions.each do |direction| %>
      <li>
        <%= direction.step %>
      </li>
        <% end %>
    </ul>


<strong>Ingredients:</strong>
<ul>
  <% @recipe.recipe_ingredients.each do |ri| %>
    <li><%= ri.name %> - <%= ri.quantity %> - <%= ri.ingredient.unit %></li>
  <% end %>
</ul>
