<br>
  <h2><%= @recipe.title %></h2>
    <% if @recipe.user.username? %>
      Created By: <%= link_to @recipe.user.username, user_recipes_path(@recipe.user), id: "username" %><br>
    <% end %>
<br>
  <h4>Description:</h4><%= @recipe.description %>
<br>
<br>

  <%= image_tag(@recipe.image, style: 'width:200px', class: "css-style") if @recipe.image.attached? %>

<br>
  <strong>Directions:</strong>
    <% @recipe.directions.each do |direction| %><br>
      <%= direction.step %>
    <% end %>
<br>
<br>
  <strong>Ingredients:</strong>
  <ul>
  <% @recipe.ingredients.each do |ri| %>
    <li><%= ri.quantity %> <%= ri.unit %> - <%= ri.name %> </li>
  <% end %>
  </ul>
  <br>

<h3>Comments</h3>
<a href="#" onclick="displayCreateForm(<%=@recipe.id%>); return false;">Add Comment</a><br>
<a href="#" onclick="getComments(); return false;">View Comments</a>
<br>
<div id="comment-form"></div>
<div id="main">
  <ul>
  </ul>
</div>
<br>
<br>
<br>
<br>
