<br>
<h2><%= @recipe.title %></h2>
<strong>Created by:</strong>
<%= link_to @recipe.user.email, user_recipes_path(@recipe.user), id: "email" %><br>

<h4>Description:</h4><%= @recipe.description %>
<br>
<br>
<strong>Directions:</strong>
    <% @recipe.directions.each do |direction| %><br>
      <%= direction.step %>
    <% end %>
<br>
<br>
<strong>Ingredients:</strong>
<ul>
  <% @recipe.recipe_ingredients.each do |ri| %>
    <li><%= ri.quantity %> <%= ri.unit %> - <%= ri.ingredient.name %> </li>
  <% end %>
</ul>
