<div class="container">
<h1>Recipes:</h1>
<div class="row">
<% @recipes.each do |recipe| %>
<div class="col-md-4">
  <div class="recipe-box">
      <%= image_tag(recipe.image, class: "recipe-index") if recipe.image.attached? %>
    <ul>
      <br>
      <li><h3><%= recipe.title %></h3></li>
      <li><%= recipe.description %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'View Recipe', recipe %></li>
      <% end %>
    </ul>
  </div>
</div>
<br>
  <% end %>
  <% if !current_user %>
    <%= link_to "Sign In to Create and View Recipes", new_user_session_path %>
  <% end %>
</div>
</div>
