<%= form_for(@ingredient) do |f| %>
	<%= f.hidden_field :recipe_id, :value => @recipe.id %>

	<%= f.fields_for :recipe_ingredient do |i| %>
		<%= i.label :quantity %>
		<%= i.text_field :quantity %>
    <%= i.label :unit%>
		<%= i.text_field :unit %>
	<% end %>

	<%= f.label :name %>
	<%= f.text_field :name %><br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
